




.keyboard {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}
.greay{
  background-color: rgb(207, 207, 207);
}

.purple{
background-color: rgb(255, 121, 255);
}
.grann{
  background-color: greenyellow;
}
.rad{
  background-color: rgb(255, 110, 110);
}
.blu{
  background-color: rgb(150, 150, 255);
}
.yallo{
  background-color: rgb(255, 255, 83);
}
.pinkk{
  background-color: pink;
}
.orangee{
  background-color: rgb(255, 198, 93);
}
.greenn2{
  background-color: rgb(0, 219, 0);
}
.key--space{
background-color: rgb(207, 207, 207);
}

.keyboard__row {
    display: inline-block;
    height: 3em;
    margin: 0.2em;
}

.keyboard__row--h1 {
    height: 1.7em;
    line-height: 1.4em;
}

.keyboard__row--h3 {
    height: 3.3em;
}

.keyboard__row > * {
    position: relative;
    
    text-align: center;
   
    float: left;
    border-radius: 0.3em;
    margin: 0.2em;
    padding: 0.2em;
    width: 3.3em;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
   
   
   
   
}

.keyboard__row--h1 > div {
    width: 3.5em;
}

.keyboard__row > div[data-pressed],
.keyboard__row > div:active {
    background: #2a2a2a;
    color: #aaa;
    position: relative;
    top: 0.2em;
    box-shadow: 0 0 0 0.05em black;
}

.key--w3 {
    width: 4.6em;
}

.key--w4 {
    width: 6em;
}

.key--w5 {
    width: 6.5em;
}

.key--w6 {
    width: 8.3em;
}

.key--space {
    width: 18em;
}

.key--double > * {
    padding-top: 0.1em;
}

.key--letter {
    line-height: 2.8em;
}

.key--bottom-left > * {
    position: absolute;
    text-align: left;
    bottom: 0.4em;
    left: 0.4em;
   
}

.key--bottom-right > * {
    position: absolute;
    text-align: right;
    bottom: 0.4em;
    right: 0.4em;
}

.key--fn > * {
    font-size: 0.6em;
    line-height: 1em;
    padding-top: 1.2em;
    padding-right: 0.2em;
    text-align: right;
    float: right;
}

.key--word > * {
    font-size: 0.8em;
}

.key--arrow--tall > *,
.key--arrow > * {
    font-size: 0.5em;
    line-height: 3em;
}

.key--arrow {
    height: 1.8em;
    margin-top: 1.7em;
    line-height: 0.5em;
}

.key--arrow--tall > * {
    padding-top: 0.2em;
}

.keyboard > .keyboard__row {
    text-align: center;
}





















/* .paragraphmain{
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.9em;
  font-weight: bold;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 10px;
  letter-spacing: 2px;
 font-variant: inherit;
}
@media screen and (min-width: 850px) {
  .paragraphmain{
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
  font-weight: bold;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 10px;
  letter-spacing: 2px;
 font-variant: inherit;
}
  
} */
